/* * {
  border: 1px solid greenyellow;
} */


body {
  background-color: rgb(196,41,31);
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#circle--large--blue {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border-radius: 50%;
  border: 6px solid rgb(227, 227, 227);
  background-color: rgb(95,150,198);
  box-shadow: 4px -4px 12px rgb(51, 51, 51);
  /* box-shadow: -2px 10px rgb(51, 51, 51), 5px 5px rgb(95,150,198); */
}
#circle--small--red {
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  border-radius: 50%;
  border:  1px solid rgb(105, 18, 10);
  background-color: rgb(185,38,26);
  box-shadow: 1px -1px 6px rgb(51, 51, 51);
}
#circle--small--yellow {
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  border-radius: 50%;
  border:  1px solid rgb(153, 128, 36);
  background-color: rgb(245,207,72);
  box-shadow: 1px -1px 6px rgb(51, 51, 51);
}
#circle--small--green {
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid  rgb(62, 88, 48);
  background-color: rgb(123,167,99);
  box-shadow: 1px -1px 6px rgb(51, 51, 51);
}

#top-left-lights-group {
  display: flex;
  flex-direction: row;
}

#pokedex-display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 410px;
  margin: 1rem;
  padding: 2rem;
  background-color: rgb(227, 227, 227);
  box-shadow: 4px -6px 16px rgba(51, 51, 51, .85);
}

#pokedex-display:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 40px 40px 0px;
   /* 
   background color: 196,41,31 
   previous dark color: 133, 26, 18
   */
  border-color: transparent transparent rgb(196,41,31) transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* margin-left: -40px; */
}

#pokedex-display--screen {
  overflow: scroll;
  background-color: #000;
  width: 100%;
  /* width: 300px; */
  min-height: 300px;
  /* height: 300px; */
  color: #33FF33;
  padding: 0.5rem;
  border-radius: 6px;
  overflow-x: hidden;
  scrollbar-color: purple green
}

#pokedex-display--top-row {
  display: flex;
  max-height: 100%;
  /* padding: 1rem; */
  /* background: #33FF33; */
}

.pokedex-display--top-dot {
  width: 10px;
  height: 10px;
  margin: 0.25rem 0.75rem;
  border-radius: 50%;
  background-color: rgb(196,41,31);
  box-shadow: 2px -2px 6px rgb(51, 51, 51) inset;
}


#pokedex-display--bottom-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#pokedex-display__vent {
  display: flex;
  flex-direction: column;

}

.pokedex-display__vent--line {
  margin: 0.25rem;
  width: 50px;
  height: 6px;
  border-radius: 6px;
  background-color: rgb(51, 51, 51);
}

#pokedex-display__hole-punch {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(196,41,31);
  box-shadow: 2px -2px 6px rgb(51, 51, 51) inset;
}

.showName {
  font-weight: bold;
}

.showMisc p {
  margin-bottom: 0em;
}

.showType ul {
  margin-bottom: 0.5em;
  padding-left: 20px;
}

.showType ul > li {
  padding-right: 10px;
  display: inline-block;
}

.showSprites {
  display: flex;
  flex-direction: row;
}

.right-side__top-screen {
  width: 400px;
  margin: 1rem 2rem;
  padding: .5rem;
  background-color: #000;
  color: #33FF33;
  min-height: 250px;
  border-radius: 6px;
}